@inherits LayoutComponentBase
@using Home.Web.Components

<NavMenu/>

<div class="box">
    <div class="header-info">
        <h1>Ihor Dyrman</h1>
        <h2>.NET Backend Developer 👨🏻‍💻</h2>
    </div>
    <div class="more-info">
        <div class="content-wrapper">
            <h3>A bit more about me</h3>
            <p>I'm a .NET developer from Ukraine who just loves web technologies and everything about automatization.</p>
        </div>
    </div>
    <div class="skills">
        <div class="content-wrapper">
            <h3>Skills</h3>
            <p>Here are some of the technologies I enjoy working with day-to-day:</p>
            <ul>
                <li>C# / F# / .NET</li>
                <li>ASP.NET Core / Blazor ❤️</li>
                <li>Azure ☁️</li>
                <li>MS SQL / Cosmos DB</li>
                <li>Entity Framework Core</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="content-wrapper">
            <h3>How to contact me</h3>
            <p>
                The easiest way to contact me is via
                <a href="https://www.linkedin.com/in/ihordyrman/" target="_blank">LinkedIn</a>.
            </p>

            <SurveyPrompt Title="Testing mode:"/>
        </div>
    </div>
</div>