@import 'bootstrap/bootstrap.min.css';
html,
body {
    height: 100%;
    background-color: #D8DEE9;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E5E9F0;
}

::-webkit-scrollbar-thumb {
    background: #ECEFF4;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-wrapper {
    line-height: 1.4;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 25px;
}

.header-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    min-height: 250px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    color: #3B4252;
    background-color: #ECEFF4;
}

.more-info {
    background-color: #E5E9F0;
    color: #3B4252
}

.skills {
    background-color: #dce2ec;
    color: #3B4252;
}

.contact {
    color: #3B4252;
    background-color: #D8DEE9;
}

a:link {
    color: #3B4252;
    text-decoration: underline;
}

a:hover {
    color: #576a9d;
}

a:visited {
    color: #81A1C1;
}

button,
a {
    text-decoration: none;
    color: #e4eaf5;
}

.my-spacer {
    flex: 1 1 auto;
}

.navbar {
    background-color: #E5E9F0;
    font-size: 1.6em;
    position: static;
}

.navbar a {
    color: #3B4252;
    padding-left: 10px;
}

.navbar a:hover {
    color: #576a9d;
}

.alert {
    background-color: #81A1C1;
}

.btn-nord {
    background-color: #81A1C1;
    margin-left: 10px;
    font-size: 0.6em;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.navbar a {
    padding-right: 10px;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}