@inherits LayoutComponentBase

<nav class="navbar">

    <span class="my-spacer"></span>
    <a href="https://github.com/ihordyrman/" Target="_blank" title="GitHub">
        <i class="fab fa-github align-content-center" aria-hidden="true"></i>
    </a>

    <a href="https://www.linkedin.com/in/ihordyrman/" Target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin" aria-hidden="true"></i>
    </a>

    <a href="https://t.me/ihordyrman" Target="_blank" title="Telegram">
        <i class="fab fa-telegram" aria-hidden="true"></i>
    </a>
</nav>